.main {
  &__education {
    @extend .container;
    @extend .main__contacts;

    &>section:last-child {
      display: none;
    }
  }
  &__study {
    width: 100%;
    margin-top: $padding-top;
    &_college {
      display: flex;
      font-size: $h3-xs;
    }
    &_major {
      margin-top: $padding-top*0.5;
      display: flex;
      font-size: $h4-xs;
      font-style: italic;
    }
    &_period{
      margin-top: $padding-top*0.5;
      display: flex;
      font-size: $h4-xs;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: $md) {
  .main {
    &__education {
      max-width: $md;
    }
    &__study {
      &_college {
        font-size: $h3-sm;
      }
      &_major {
        font-size: $h4-sm;
      }
      &_period{
        font-size: $h4-sm;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .main {
    &__education {
      max-width: $lg;
    }
    &__study {
      &_college {
        font-size: $h3-sm;
      }
      &_major {
        font-size: $h4-sm;
      }
      &_period{
        font-size: $h4-sm;
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .main {
    &__education {
      max-width: $xl;
    }
  }
  
}

@media screen and (min-width: $xxl) {
  .main {
    &__education {
      max-width: $xxl;
    }
  }
  
}