.main {
  &--education {
    @extend .container;
    @extend .main--contacts;
  }
  &--study {
    width: 100%;
    margin-top: $padding-top;
    &--college {
      display: flex;
      font-size: $h3-xs;
    }
    &--major {
      margin-top: $padding-top*0.5;
      display: flex;
      font-size: $h4-xs;
      font-style: italic;
    }
    &--period{
      margin-top: $padding-top*0.5;
      display: flex;
      font-size: $h4-xs;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: $md) {
  .main {
    &--education {
      max-width: $md;
    }
    &--study {
      &--college {
        font-size: $h3-sm;
      }
      &--major {
        font-size: $h4-sm;
      }
      &--period{
        font-size: $h4-sm;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .main {
    &--education {
      max-width: $lg;
    }
    &--study {
      &--college {
        font-size: $h3-sm;
      }
      &--major {
        font-size: $h4-sm;
      }
      &--period{
        font-size: $h4-sm;
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .main {
    &--education {
      max-width: $xl;
    }
  }
  
}

@media screen and (min-width: $xxl) {
  .main {
    &--education {
      max-width: $xxl;
    }
  }
  
}