.header {
  @extend %flex-column-centre-wrap;
  height: 4rem;
  width: 100%;
  background-color: darken($color-night, 15%);

  &--title {
    font-size: $h1-xs;
    color: $color-day;
    margin-left: 1rem;
  }

  &--switch {
    max-width: 5rem;
    width: 100%;
    @extend %flex-space-between;
    justify-content: flex-end;

    &>li {
      display: flex;
      cursor: pointer;

      &:hover {
        @extend %hover;
        border-radius: 50%;
      }
      &:active {
        @extend %active;
      }

      &>img {
        width: 3rem;
      }
      &>a{
        display: flex;
        height: 3rem;
      }
    }
    &-lang {}
  }

  &--nav {
    order: 1;
    @extend %flex-space-between;
    max-width: 4rem;
    height: 4rem;
    width: 100%;

    &--list {
      display: none;
      @extend %flex-space-between;
    }

    &--item {
      font-size: $h2;
      display: flex;
      padding-bottom: 0.3rem;
      border-bottom: 0.3rem solid darken($color-night, 40%);
      cursor: pointer;

      &:hover {
        @extend %hover;
      }

      &:active {
        @extend %active;
      }

      &>a {
        text-decoration: none;
        color: $color-day;
      }
    }

    &--burger {
      @extend %flex-column-centre-wrap;
      justify-content: space-around;
      width: 80%;
      height: 80%;
      cursor: pointer;

      &:hover {
        @extend %hover;
        border-radius: 50%;
      }
      &:active {
        @extend %active;
      }

      &>li {
        display: flex;
        width: 100%;
        border-radius: 0.2rem;
        // color: $color-day;
        border: 0.2rem solid $color-day;
      }
    }
  }
}



@media screen and (min-width: $sm) {
  
  .header {
    height: 5rem;

    &--title {
      font-size: $h1-sm;
    }

    &--switch {
      margin: 0 1rem 0 auto;
      max-width: 16rem;

      &>li {

        &>img {
          width: 4rem;
        }
        &>a{
          display: flex;
          height: 4rem;
        }
      }
      &-lang {}
    }

    &--nav {

      &--list {
      }

      &--item {
        font-size: $h2;
        display: flex;
        &>a {
          text-decoration: none;
          color: $color-day;
        }
      }

      &--burger {}
    }
  }
}

@media screen and (min-width: $md) {.header {
  height: 6rem;

  &--title {

  }

  &--switch {

    &>li {
      display: flex;

      &>img {
        width: 5rem;
      }
      &>a{
        display: flex;
        height: 5rem;
      }
    }
  }

  &--nav {

    &--item {
      font-size: $h2;
      display: flex;
      &>a {
        text-decoration: none;
        color: $color-day;
      }
    }
  }
}
}

@media screen and (min-width: $lg) {.header {
  @extend %flex-column-centre-wrap;
  height: 7rem;

  &--title {
    font-size: $h1-sm;
    margin: 0;
  }

  &--switch {
    max-width: 14rem;
    margin: 0;
    @extend %flex-space-between;

    &>li {
      display: flex;

      &>img {
        width: 4rem;
      }
    }
  }

  &--nav {
    order: 0;
    max-width: 50rem;
    width: 100%;

    &--list {
      display: flex;
      max-width: 50rem;
      width: 100%;
    }

    &--item {
      font-size: $h2-md;
      display: flex;
      &>a {
        text-decoration: none;
        color: $color-day;
      }
    }

    &--burger {
      display: none;
    }
  }
}
}

@media screen and (min-width: $xl) {
  .header {
    &--switch {
      max-width: 12rem;
    }
  }
}

@media screen and (min-width: $xxl) {
  .header {
    &--title {
      font-size: $h1;
    }

    &--switch{
      min-width: 20rem;
    }

    &--nav {
      max-width: 65rem;

      &--list {
        min-width: 65rem;
      }

      &--item {
        font-size: $h2;
        display: flex;
        &>a {
          text-decoration: none;
          color: $color-day;
        }
      }
    }
  }
}