.main {
  &__title {
    font-size: $h2-xs;
  }
  &__pro {
    flex-grow: 1;
    @extend %flex-column-centre-wrap;

    &_img {
      display: flex;
      max-width: 20rem;
      width: 100%;
    }

    &_age {
      padding-top: $padding-top * 0.5;
      font-size: $h3-xs;
    }

    &_person {
      @extend %flex-column-centre;
      margin-bottom: $padding-top;
  
    }
  }

  &__contacts {
    @extend %flex-column-centre-wrap;
    align-items: flex-start;
    padding-bottom: $padding-top;
    width: 100%;
    display: flex;
    padding-left: $padding-top;

    &_item {
      margin-bottom: $padding-top*0.5;
      display: flex;
      height: 3rem;
      max-width: 25rem;
      width: 100%;
      align-items: flex-end;
    }

    &_link {
      @extend %flex-row-start-wrap;
      font-size: $h2-xs;
      color: $color-day;
      text-decoration: none;
      width: 100%;
      cursor: pointer;
    }
    
    &_img {
      margin-right: $padding-top * 0.5;
      width: 2.5rem;
    }
  }
}

@media screen and (min-width: $md) {
  .main {
    &__title {
      flex-grow: 1;
      width: 100%;
      text-align: end;
      font-size: $h2-md;
    }

    &__pro {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      &>h2:first-child {
        margin-bottom: $padding-top;
      }

      &_person {
        width: 100%;
        max-width: 25rem;

      }
    }
    &__contacts {
      max-width: 30rem;
      &_item {
        margin-bottom: $padding-top*1.2;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .main {
    &__title {
      font-size: $h2-md;
    }

    &__pro {
      align-items: flex-end;
      &_img {
        max-width: 30rem;
      }
      &_age {
        padding-top: $padding-top * 0.1;
        font-size: $h3-md;
      }
      &_person {
        max-width: 30rem;
      }
    }
    &__contacts {
      &_item {
        margin-bottom: $padding-top*0;
        margin-top: $padding-top*2;
      }
    }
  }
}



@media screen and (min-width: $xl) {
  .main {
    &__title {
      font-size: $h2;
    }

    &__pro {
      align-items: flex-end;
      &_img {
        max-width: 35rem;
      }
      &_age {
        padding-top: $padding-top * 0.1;
        font-size: $h3;
      }
      &_person {
        max-width: 35rem;
      }
    }
  }
}

