.container {
  @extend %flex-space-between;
  max-width: 100vw;
  width: 100%;
  background-color: $color-night;
  background-color: transparent;
}

@media screen and (min-width: $md) {
  .container {
    max-width: $md;
  }
}

@media screen and (min-width: $lg) {
  .container {
    max-width: $lg;
  }
}

@media screen and (min-width: $xl) {
  .container {
    max-width: $xl;
  }
}

@media screen and (min-width: $xxl) {
  .container {
    max-width: $xxl;
  }
}